# Import Dependencies

In [38]:
import pandas as pd
from config import api_keyUSC, PG_key
from census import Census
from sqlalchemy import create_engine
import numpy as np

In [39]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect,func

In [40]:
import psycopg2

In [41]:
#import warnings
#from sqlalchemy import exc

# for warnings not included in regex-based filter below, just log
#warnings.filterwarnings(
  #"always", category=exc.RemovedIn20Warning
#)

# ASFIN

In [42]:
#import .csv file into DF
#note: currency values are in Thousands of Dollars

state_asfin_df = pd.read_csv ('2015_asfin_state_totals_transposed.csv')

In [43]:
state_asfin_df.set_index('State', inplace=True)
state_asfin_df.drop(['United States'], inplace = True)
state_asfin_df = state_asfin_df[['General expenditure','Education', 'Public welfare', 'Hospitals', 'Health','Police protection', 'Correction' ]]

state_asfin_df = state_asfin_df.rename(columns={'General expenditure':'Total General Expenditure','Education': 'Education Expediture', 'Public welfare':'Public Welfare Expenditure', 'Hospitals': 'Hospitals Expenditure', 'Health': 'Health Expenditure', 'Police protection':'Police Protection Expenditure', 'Correction':'Correction Expenditure'})

In [44]:
state_asfin_df.head()

,Total General Expenditure,Education Expediture,Public Welfare Expenditure,Hospitals Expenditure,Health Expenditure,Police Protection Expenditure,Correction Expenditure
State,,,,,,,
Alabama,"28,710,747","12,235,527","8,204,660","2,370,549","414,116","155,814","555,852"
Alaska,"11,580,917","2,703,274","2,113,211","68,984","283,698","161,965","340,726"
Arizona,"28,577,420","10,452,117","10,346,172","64,560","625,316","259,768","1,097,103"
Arkansas,"19,882,973","8,162,327","6,572,760","871,039","243,532","107,112","351,802"
California,"269,774,501","90,276,519","109,031,702","10,633,226","8,177,522","1,790,672","9,667,904"

# CENSUS

In [45]:
c = Census(api_keyUSC, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B02001_003E",
                          "B02001_002E","B02001_005E","B03001_003E","B02001_008E",
                          "B17001_002E"), {'for': 'state:*'})

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column Reordering

census_df.drop('state', axis=1, inplace = True)
census_df = census_df.rename(columns={"NAME": "State",
                                      "B01003_001E": "Population",
                                      "B02001_003E": "Population Black",
                                      "B02001_002E": "Population White",
                                      "B02001_005E": "Population Asian",
                                      "B03001_003E": "Population Hispanic",
                                      "B02001_008E": "Population Mixed Race",
                                      "B17001_002E": "Poverty Count",
                                      })

# Add in Poverty Rate (Poverty Count / Population)
census_df["Poverty Rate"] = round(100 * \
    census_df["Poverty Count"].astype(
        int) / census_df["Population"].astype(int),2)

In [46]:
census_df = census_df.sort_values('State')
census_df.set_index('State', inplace=True)
census_df

,Population,Population Black,Population White,Population Asian,Population Hispanic,Population Mixed Race,Poverty Count,Poverty Rate
State,,,,,,,,
Alabama,4830620.00,1276544.00,3325464.00,59599.00,193492.00,81646.00,887260.00,18.37
Alaska,733375.00,25022.00,484250.00,42921.00,47808.00,61755.00,72957.00,9.95
Arizona,6641928.00,281576.00,5210335.00,200090.00,2014711.00,211845.00,1180690.00,17.78
Arkansas,2958208.00,459748.00,2307849.00,40336.00,203226.00,62537.00,553644.00,18.72
California,38421464.00,2265387.00,23747013.00,5261978.00,14750686.00,1734897.00,6135142.00,15.97
Colorado,5278906.00,213787.00,4446095.00,153467.00,1112586.00,183480.00,653969.00,12.39
Connecticut,3593222.00,370501.00,2778362.00,150670.00,526508.00,101919.00,366351.00,10.20
Delaware,926454.00,200481.00,642623.00,33643.00,80706.00,25266.00,108315.00,11.69
District of Columbia,647484.00,316447.00,260325.00,23822.00,65803.00,17327.00,110365.00,17.05
Florida,19645772.00,3171108.00,14934702.00,509085.00,4660733.00,472082.00,3180109.00,16.19
Georgia,10006693.00,3096757.00,6025691.00,360448.00,915120.00,213803.00,1788947.00,17.88
Hawaii,1406299.00,28688.00,357164.00,530551.00,139251.00,333119.00,153944.00,10.95
Idaho,1616547.00,9900.00,1482914.00,21711.00,191314.00,41226.00,245177.00,15.17
Illinois,12873761.00,1846108.00,9312771.00,645642.00,2122841.00,289537.00,1801118.00,13.99
Indiana,6568645.00,603014.00,5529201.00,121729.00,421206.00,145601.00,978043.00,14.89
Iowa,3093526.00,97788.00,2820046.00,62997.00,168230.00,60964.00,373883.00,12.09
Kansas,2892987.00,168402.00,2464566.00,75653.00,323218.00,95365.00,381353.00,13.18
Kentucky,4397353.00,347034.00,3851591.00,55483.00,143481.00,90836.00,805841.00,18.33
Louisiana,4625253.00,1484363.00,2902538.00,77818.00,218263.00,83877.00,888280.00,19.21
Maine,1329100.00,15037.00,1262026.00,14590.00,19447.00,26298.00,180278.00,13.56
Maryland,5930538.00,1750916.00,3416107.00,357616.00,533671.00,175652.00,576805.00,9.73
Massachusetts,6705586.00,478947.00,5334859.00,400675.00,707928.00,194677.00,748905.00,11.17
Michigan,9900571.00,1381388.00,7823875.00,268766.00,467021.00,261324.00,1616870.00,16.33
Minnesota,5419171.00,299176.00,4594367.00,240786.00,270984.00,144226.00,596662.00,11.01
Mississippi,2988081.00,1116457.00,1768174.00,28900.00,86507.00,35334.00,651545.00,21.80
Missouri,6045448.00,697022.00,4995527.00,106537.00,233046.00,147645.00,915972.00,15.15
Montana,1014699.00,4757.00,904977.00,7187.00,33622.00,25777.00,150586.00,14.84
Nebraska,1869365.00,88195.00,1647551.00,38066.00,186268.00,41595.00,231115.00,12.36
Nevada,2798636.00,235721.00,1929661.00,214846.00,770553.00,122935.00,426337.00,15.23
New Hampshire,1324201.00,17439.00,1241313.00,31364.00,42141.00,24346.00,113840.00,8.60
New Jersey,8904413.00,1202300.00,6083940.00,804989.00,1688008.00,223826.00,944847.00,10.61
New Mexico,2084117.00,43738.00,1524911.00,28761.00,986972.00,68053.00,429361.00,20.60
New York,19673174.00,3070392.00,12704637.00,1570223.00,3619658.00,560879.00,3005943.00,15.28
North Carolina,9845333.00,2115338.00,6839831.00,244076.00,869908.00,231391.00,1667465.00,16.94
North Dakota,721640.00,11872.00,640208.00,8979.00,20569.00,16132.00,79758.00,11.05
Ohio,11575977.00,1412045.00,9538328.00,216170.00,390970.00,287212.00,1775836.00,15.34
Oklahoma,3849733.00,278571.00,2813794.00,74570.00,371459.00,299936.00,624043.00,16.21
Oregon,3939233.00,72837.00,3352941.00,156695.00,485646.00,162793.00,636947.00,16.17
Pennsylvania,12779559.00,1403143.00,10430142.00,392595.00,815538.00,272689.00,1666569.00,13.04
Puerto Rico,3583073.00,301519.00,2495997.00,10159.00,3547288.00,332051.00,1616117.00,45.10
Rhode Island,1053661.00,68243.00,854859.00,34213.00,143788.00,29782.00,144223.00,13.69
South Carolina,4777576.00,1315058.00,3210708.00,66982.00,254092.00,93950.00,830901.00,17.39
South Dakota,843190.00,13133.00,716691.00,10152.00,27914.00,22323.00,114907.00,13.63
Tennessee,6499615.00,1091070.00,5059894.00,102027.00,320090.00,128760.00,1117594.00,17.19
Texas,26538614.00,3152917.00,19874610.00,1124011.00,10196367.00,653062.00,4472451.00,16.85
Utah,2903379.00,31909.00,2544735.00,64102.00,389856.00,74755.00,351601.00,12.11
Vermont,626604.00,6949.00,594443.00,8774.00,10691.00,12169.00,69233.00,11.05
Virginia,8256630.00,1589345.00,5695147.00,492973.00,709156.00,268167.00,921822.00,11.16
Washington,6985464.00,253224.00,5434177.00,535501.00,835488.00,360705.00,908512.00,13.01
West Virginia,1851420.00,61367.00,1732235.00,13485.00,25408.00,36189.00,323384.00,17.47
Wisconsin,5742117.00,360792.00,4967124.00,143732.00,364558.00,122730.00,724348.00,12.61
Wyoming,579679.00,6142.00,527763.00,5319.00,55698.00,15489.00,64995.00,11.21

In [47]:
#merge together
state_df = pd.merge(census_df,state_asfin_df, left_index=True, right_index=True)
state_df

,Population,Population Black,Population White,Population Asian,Population Hispanic,Population Mixed Race,Poverty Count,Poverty Rate,Total General Expenditure,Education Expediture,Public Welfare Expenditure,Hospitals Expenditure,Health Expenditure,Police Protection Expenditure,Correction Expenditure
State,,,,,,,,,,,,,,,
Alabama,4830620.00,1276544.00,3325464.00,59599.00,193492.00,81646.00,887260.00,18.37,"28,710,747","12,235,527","8,204,660","2,370,549","414,116","155,814","555,852"
Alaska,733375.00,25022.00,484250.00,42921.00,47808.00,61755.00,72957.00,9.95,"11,580,917","2,703,274","2,113,211","68,984","283,698","161,965","340,726"
Arizona,6641928.00,281576.00,5210335.00,200090.00,2014711.00,211845.00,1180690.00,17.78,"28,577,420","10,452,117","10,346,172","64,560","625,316","259,768","1,097,103"
Arkansas,2958208.00,459748.00,2307849.00,40336.00,203226.00,62537.00,553644.00,18.72,"19,882,973","8,162,327","6,572,760","871,039","243,532","107,112","351,802"
California,38421464.00,2265387.00,23747013.00,5261978.00,14750686.00,1734897.00,6135142.00,15.97,"269,774,501","90,276,519","109,031,702","10,633,226","8,177,522","1,790,672","9,667,904"
Colorado,5278906.00,213787.00,4446095.00,153467.00,1112586.00,183480.00,653969.00,12.39,"26,917,961","10,988,746","7,927,080","827,482","427,722","178,366","1,022,917"
Connecticut,3593222.00,370501.00,2778362.00,150670.00,526508.00,101919.00,366351.00,10.20,"22,311,191","7,728,457","4,256,901","1,416,163","949,526","256,502","700,694"
Delaware,926454.00,200481.00,642623.00,33643.00,80706.00,25266.00,108315.00,11.69,"8,045,313","3,027,509","2,288,305","90,693","406,718","140,054","304,986"
Florida,19645772.00,3171108.00,14934702.00,509085.00,4660733.00,472082.00,3180109.00,16.19,"76,164,790","25,023,832","25,776,510","1,054,547","3,663,682","551,849","2,475,144"
Georgia,10006693.00,3096757.00,6025691.00,360448.00,915120.00,213803.00,1788947.00,17.88,"39,023,326","17,276,438","11,969,354","1,274,505","1,210,283","360,669","1,208,635"
Hawaii,1406299.00,28688.00,357164.00,530551.00,139251.00,333119.00,153944.00,10.95,"10,504,000","3,179,124","2,558,379","659,902","484,996","36,790","212,812"
Idaho,1616547.00,9900.00,1482914.00,21711.00,191314.00,41226.00,245177.00,15.17,"7,711,133","2,786,541","2,334,833","46,630","106,054","58,637","256,902"
Illinois,12873761.00,1846108.00,9312771.00,645642.00,2122841.00,289537.00,1801118.00,13.99,"71,652,058","18,032,033","24,395,723","757,268","1,230,305","413,036","1,502,405"
Indiana,6568645.00,603014.00,5529201.00,121729.00,421206.00,145601.00,978043.00,14.89,"34,470,175","14,801,529","11,563,940","143,620","454,447","225,038","687,837"
Iowa,3093526.00,97788.00,2820046.00,62997.00,168230.00,60964.00,373883.00,12.09,"19,894,554","7,129,439","5,905,922","1,727,315","203,481","100,780","294,185"
Kansas,2892987.00,168402.00,2464566.00,75653.00,323218.00,95365.00,381353.00,13.18,"16,149,962","7,010,167","3,825,630","1,711,494","364,256","103,785","359,801"
Kentucky,4397353.00,347034.00,3851591.00,55483.00,143481.00,90836.00,805841.00,18.33,"29,182,828","9,614,803","10,875,235","1,572,995","427,761","196,160","542,193"
Louisiana,4625253.00,1484363.00,2902538.00,77818.00,218263.00,83877.00,888280.00,19.21,"26,154,618","8,897,506","8,399,355","355,809","364,693","326,366","672,298"
Maine,1329100.00,15037.00,1262026.00,14590.00,19447.00,26298.00,180278.00,13.56,"7,548,525","2,035,487","3,011,951","94,039","172,886","76,304","152,969"
Maryland,5930538.00,1750916.00,3416107.00,357616.00,533671.00,175652.00,576805.00,9.73,"38,041,607","12,168,535","12,174,866","542,067","2,130,721","601,949","1,476,397"
Massachusetts,6705586.00,478947.00,5334859.00,400675.00,707928.00,194677.00,748905.00,11.17,"51,122,359","12,323,712","19,895,426","760,148","928,106","577,613","1,378,933"
Michigan,9900571.00,1381388.00,7823875.00,268766.00,467021.00,261324.00,1616870.00,16.33,"59,085,103","24,211,552","18,410,125","3,422,936","1,194,651","470,963","1,888,248"
Minnesota,5419171.00,299176.00,4594367.00,240786.00,270984.00,144226.00,596662.00,11.01,"37,570,750","14,289,649","12,761,965","297,779","431,389","436,648","528,792"
Mississippi,2988081.00,1116457.00,1768174.00,28900.00,86507.00,35334.00,651545.00,21.80,"18,354,508","5,791,535","6,228,236","1,257,672","340,349","162,829","371,359"
Missouri,6045448.00,697022.00,4995527.00,106537.00,233046.00,147645.00,915972.00,15.15,"27,826,546","9,507,971","8,676,992","1,858,510","1,659,447","250,460","770,323"
Montana,1014699.00,4757.00,904977.00,7187.00,33622.00,25777.00,150586.00,14.84,"5,691,082","1,798,401","1,459,870","52,666","118,398","53,776","203,181"
Nebraska,1869365.00,88195.00,1647551.00,38066.00,186268.00,41595.00,231115.00,12.36,"9,664,338","3,593,464","2,493,798","266,398","276,120","82,705","349,077"
Nevada,2798636.00,235721.00,1929661.00,214846.00,770553.00,122935.00,426337.00,15.23,"11,662,037","4,714,642","3,154,084","225,109","227,383","77,752","258,420"
New Hampshire,1324201.00,17439.00,1241313.00,31364.00,42141.00,24346.00,113840.00,8.60,"6,764,330","2,277,515","2,106,083","55,161","93,285","62,687","121,853"
New Jersey,8904413.00,1202300.00,6083940.00,804989.00,1688008.00,223826.00,944847.00,10.61,"60,697,956","22,285,616","17,094,670","2,051,020","2,874,076","831,284","1,471,630"
New Mexico,2084117.00,43738.00,1524911.00,28761.00,986972.00,68053.00,429361.00,20.60,"17,816,434","5,840,534","5,689,510","1,027,289","314,763","145,509","456,721"
New York,19673174.00,3070392.00,12704637.00,1570223.00,3619658.00,560879.00,3005943.00,15.28,"151,427,270","43,024,231","58,001,659","5,006,495","8,271,505","904,891","3,075,600"
North Carolina,9845333.00,2115338.00,6839831.00,244076.00,869908.00,231391.00,1667465.00,16.94,"49,010,718","19,912,132","14,560,381","1,804,269","1,343,179","506,044","1,270,111"
North Dakota,721640.00,11872.00,640208.00,8979.00,20569.00,16132.00,79758.00,11.05,"7,161,778","2,307,999","1,385,251","52,200","129,752","37,021","91,486"
Ohio,11575977.00,1412045.00,9538328.00,216170.00,390970.00,287212.00,1775836.00,15.34,"65,287,289","22,208,885","25,344,578","3,047,779","1,664,178","360,237","1,589,278"
Oklahoma,3849733.00,278571.00,2813794.00,74570.00,371459.00,299936.00,624043.00,16.21,"20,704,332","7,672,357","6,693,834","216,162","824,036","181,741","567,034"
Oregon,3939233.00,72837.00,3352941.00,156695.00,485646.00,162793.00,636947.00,16.17,"28,688,736","8,997,319","9,870,345","2,150,063","607,119","176,304","777,917"
Pennsylvania,12779559.00,1403143.00,10430142.00,392595.00,815538.00,272689.00,1666569.00,13.04,"76,641,318","24,204,413","24,655,737","4,231,964","3,086,492","1,052,778","2,099,219"
Rhode Island,1053661.00,68243.00,854859.00,34213.00,143788.00,29782.00,144223.00,13.69,"7,535,554","1,981,863","3,008,751","56,811","184,434","87,957","201,365"
South Carolina,4777576.00,1315058.00,3210708.00,66982.00,254092.00,93950.00,830901.00,17.39,"25,224,165","9,160,360","7,594,043","1,637,482","1,003,641","167,268","458,406"
South Dakota,843190.00,13133.00,716691.00,10152.00,27914.00,22323.00,114907.00,13.63,"4,263,678","1,320,602","1,101,035","23,640","125,551","45,414","125,955"
Tennessee,6499615.00,1091070.00,5059894.00,102027.00,320090.00,128760.00,1117594.00,17.19,"28,340,888","10,131,629","11,235,158","347,785","612,458","208,743","903,791"
Texas,26538614.00,3152917.00,19874610.00,1124011.00,10196367.00,653062.00,4472451.00,16.85,"119,937,919","51,934,894","36,204,845","6,970,243","2,509,135","1,000,389","3,848,272"
Utah,2903379.00,31909.00,2544735.00,64102.00,389856.00,74755.00,351601.00,12.11,"16,423,836","7,444,709","3,428,679","1,501,057","254,522","144,063","342,133"
Vermont,626604.00,6949.00,594443.00,8774.00,10691.00,12169.00,69233.00,11.05,"6,166,657","2,596,210","1,750,376","19,328","334,625","99,220","145,129"
Virginia,8256630.00,1589345.00,5695147.00,492973.00,709156.00,268167.00,921822.00,11.16,"44,870,128","15,981,360","9,986,797","4,417,363","1,215,670","426,084","1,453,297"
Washington,6985464.00,253224.00,5434177.00,535501.00,835488.00,360705.00,908512.00,13.01,"43,875,706","17,101,172","11,329,491","2,586,923","2,239,003","405,692","984,771"
West Virginia,1851420.00,61367.00,1732235.00,13485.00,25408.00,36189.00,323384.00,17.47,"12,790,705","4,440,368","4,651,087","136,349","264,918","73,554","285,324"
Wisconsin,5742117.00,360792.00,4967124.00,143732.00,364558.00,122730.00,724348.00,12.61,"34,899,560","11,752,333","9,955,799","1,877,692","724,909","96,946","1,125,914"
Wyoming,579679.00,6142.00,527763.00,5319.00,55698.00,15489.00,64995.00,11.21,"5,232,487","2,020,840","799,594","3,442","228,679","39,244","143,520"

In [48]:
#convert index to match the other datasets
us_state_abbrev = {
   'Alabama': 'AL',
   'Alaska': 'AK',
   'Arizona': 'AZ',
   'Arkansas': 'AR',
   'California': 'CA',
   'Colorado': 'CO',
   'Connecticut': 'CT',
   'Delaware': 'DE',
   'Florida': 'FL',
   'Georgia': 'GA',
   'Hawaii': 'HI',
   'Idaho': 'ID',
   'Illinois': 'IL',
   'Indiana': 'IN',
   'Iowa': 'IA',
   'Kansas': 'KS',
   'Kentucky': 'KY',
   'Louisiana': 'LA',
   'Maine': 'ME',
   'Maryland': 'MD',
   'Massachusetts': 'MA',
   'Michigan': 'MI',
   'Minnesota': 'MN',
   'Mississippi': 'MS',
   'Missouri': 'MO',
   'Montana': 'MT',
   'Nebraska': 'NE',
   'Nevada': 'NV',
   'New Hampshire': 'NH',
   'New Jersey': 'NJ',
   'New Mexico': 'NM',
   'New York': 'NY',
   'North Carolina': 'NC',
   'North Dakota': 'ND',
   'Ohio': 'OH',
   'Oklahoma': 'OK',
   'Oregon': 'OR',
   'Pennsylvania': 'PA',
   'Rhode Island': 'RI',
   'South Carolina': 'SC',
   'South Dakota': 'SD',
   'Tennessee': 'TN',
   'Texas': 'TX',
   'Utah': 'UT',
   'Vermont': 'VT',
   'Virginia': 'VA',
   'Washington': 'WA',
   'West Virginia': 'WV',
   'Wisconsin': 'WI',
   'Wyoming': 'WY'}

state_df.index = state_df.index.map(us_state_abbrev)

In [49]:
#verify dtypes 
state_df.dtypes

Population                       float64
Population Black                 float64
Population White                 float64
Population Asian                 float64
Population Hispanic              float64
Population Mixed Race            float64
Poverty Count                    float64
Poverty Rate                     float64
Total General Expenditure         object
Education Expediture              object
Public Welfare Expenditure        object
Hospitals Expenditure             object
Health Expenditure                object
Police Protection Expenditure     object
Correction Expenditure            object
dtype: object

In [50]:
#format values & convert from string to numeric
state_df = state_df.replace(',','', regex=True)
c = state_df.select_dtypes(object).columns
state_df[c] = state_df[c].apply(pd.to_numeric,errors='coerce')

#format the expenditure totals to true value (original values in thousands of $)
for column in state_df.iloc[:,8:15]:
        new_column = []
        for index, row in state_df.iterrows():
            new_value = ((row[column])* 1000)
            new_column.append(new_value)
        state_df[column]= new_column   
        pd.set_option('display.float_format','{:.2f}'.format)
state_df.head()

,Population,Population Black,Population White,Population Asian,Population Hispanic,Population Mixed Race,Poverty Count,Poverty Rate,Total General Expenditure,Education Expediture,Public Welfare Expenditure,Hospitals Expenditure,Health Expenditure,Police Protection Expenditure,Correction Expenditure
State,,,,,,,,,,,,,,,
AL,4830620.00,1276544.00,3325464.00,59599.00,193492.00,81646.00,887260.00,18.37,28710747000.00,12235527000.00,8204660000.00,2370549000.00,414116000.00,155814000.00,555852000.00
AK,733375.00,25022.00,484250.00,42921.00,47808.00,61755.00,72957.00,9.95,11580917000.00,2703274000.00,2113211000.00,68984000.00,283698000.00,161965000.00,340726000.00
AZ,6641928.00,281576.00,5210335.00,200090.00,2014711.00,211845.00,1180690.00,17.78,28577420000.00,10452117000.00,10346172000.00,64560000.00,625316000.00,259768000.00,1097103000.00
AR,2958208.00,459748.00,2307849.00,40336.00,203226.00,62537.00,553644.00,18.72,19882973000.00,8162327000.00,6572760000.00,871039000.00,243532000.00,107112000.00,351802000.00
CA,38421464.00,2265387.00,23747013.00,5261978.00,14750686.00,1734897.00,6135142.00,15.97,269774501000.00,90276519000.00,109031702000.00,10633226000.00,8177522000.00,1790672000.00,9667904000.00

In [51]:
#build out new columns with the true per capita $ amount state are spending in each category
# * by 1000 bc original spending values were in thousands 
for column in state_df.iloc[:,8:15]:
        new_column_percap = []
        new_column_percent = []
        for index, row in state_df.iterrows():
                per_capita = (row[column])/(row['Population'])
                new_column_percap.append(per_capita)
                percent = (row[column])/(row['Total General Expenditure'])*100
                new_column_percent.append(percent)
        state_df[column +' per capita'] = new_column_percap
        state_df[column +' Percentage of Budget'] = new_column_percent

In [133]:
#build out new columns with the percentage of the total population each race category is 
for column in state_df.iloc[:,1:6]:
        new_column = []
        for index, row in state_df.iterrows():
                percent = (row[column])/(row['Population'])*100
                new_column.append(percent)
                pd.set_option('display.float_format','{:.2f}'.format)
        state_df[column +' Percentage'] = new_column

In [69]:
pd.options.display.max_columns = None
state_df

,Population,Population Black,Population White,Population Asian,Population Hispanic,Population Mixed Race,Poverty Count,Poverty Rate,Total General Expenditure,Education Expediture,Public Welfare Expenditure,Hospitals Expenditure,Health Expenditure,Police Protection Expenditure,Correction Expenditure,Total General Expenditure per capita,Total General Expenditure Percentage of Budget,Education Expediture per capita,Education Expediture Percentage of Budget,Public Welfare Expenditure per capita,Public Welfare Expenditure Percentage of Budget,Hospitals Expenditure per capita,Hospitals Expenditure Percentage of Budget,Health Expenditure per capita,Health Expenditure Percentage of Budget,Police Protection Expenditure per capita,Police Protection Expenditure Percentage of Budget,Correction Expenditure per capita,Correction Expenditure Percentage of Budget,Population Black Percentage,Population White Percentage,Population Asian Percentage,Population Hispanic Percentage,Population Mixed Race Percentage
State,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
AL,4830620.00,1276544.00,3325464.00,59599.00,193492.00,81646.00,887260.00,18.37,28710747000.00,12235527000.00,8204660000.00,2370549000.00,414116000.00,155814000.00,555852000.00,5943.49,100.00,2532.91,42.62,1698.47,28.58,490.73,8.26,85.73,1.44,32.26,0.54,115.07,1.94,26.43,68.84,1.23,4.01,1.69
AK,733375.00,25022.00,484250.00,42921.00,47808.00,61755.00,72957.00,9.95,11580917000.00,2703274000.00,2113211000.00,68984000.00,283698000.00,161965000.00,340726000.00,15791.26,100.00,3686.07,23.34,2881.49,18.25,94.06,0.60,386.84,2.45,220.85,1.40,464.60,2.94,3.41,66.03,5.85,6.52,8.42
AZ,6641928.00,281576.00,5210335.00,200090.00,2014711.00,211845.00,1180690.00,17.78,28577420000.00,10452117000.00,10346172000.00,64560000.00,625316000.00,259768000.00,1097103000.00,4302.58,100.00,1573.66,36.57,1557.71,36.20,9.72,0.23,94.15,2.19,39.11,0.91,165.18,3.84,4.24,78.45,3.01,30.33,3.19
AR,2958208.00,459748.00,2307849.00,40336.00,203226.00,62537.00,553644.00,18.72,19882973000.00,8162327000.00,6572760000.00,871039000.00,243532000.00,107112000.00,351802000.00,6721.29,100.00,2759.21,41.05,2221.87,33.06,294.45,4.38,82.32,1.22,36.21,0.54,118.92,1.77,15.54,78.02,1.36,6.87,2.11
CA,38421464.00,2265387.00,23747013.00,5261978.00,14750686.00,1734897.00,6135142.00,15.97,269774501000.00,90276519000.00,109031702000.00,10633226000.00,8177522000.00,1790672000.00,9667904000.00,7021.45,100.00,2349.64,33.46,2837.78,40.42,276.75,3.94,212.84,3.03,46.61,0.66,251.63,3.58,5.90,61.81,13.70,38.39,4.52
CO,5278906.00,213787.00,4446095.00,153467.00,1112586.00,183480.00,653969.00,12.39,26917961000.00,10988746000.00,7927080000.00,827482000.00,427722000.00,178366000.00,1022917000.00,5099.16,100.00,2081.63,40.82,1501.65,29.45,156.75,3.07,81.02,1.59,33.79,0.66,193.77,3.80,4.05,84.22,2.91,21.08,3.48
CT,3593222.00,370501.00,2778362.00,150670.00,526508.00,101919.00,366351.00,10.20,22311191000.00,7728457000.00,4256901000.00,1416163000.00,949526000.00,256502000.00,700694000.00,6209.24,100.00,2150.84,34.64,1184.70,19.08,394.12,6.35,264.25,4.26,71.38,1.15,195.00,3.14,10.31,77.32,4.19,14.65,2.84
DE,926454.00,200481.00,642623.00,33643.00,80706.00,25266.00,108315.00,11.69,8045313000.00,3027509000.00,2288305000.00,90693000.00,406718000.00,140054000.00,304986000.00,8683.99,100.00,3267.85,37.63,2469.96,28.44,97.89,1.13,439.01,5.06,151.17,1.74,329.20,3.79,21.64,69.36,3.63,8.71,2.73
FL,19645772.00,3171108.00,14934702.00,509085.00,4660733.00,472082.00,3180109.00,16.19,76164790000.00,25023832000.00,25776510000.00,1054547000.00,3663682000.00,551849000.00,2475144000.00,3876.90,100.00,1273.75,32.85,1312.06,33.84,53.68,1.38,186.49,4.81,28.09,0.72,125.99,3.25,16.14,76.02,2.59,23.72,2.40
GA,10006693.00,3096757.00,6025691.00,360448.00,915120.00,213803.00,1788947.00,17.88,39023326000.00,17276438000.00,11969354000.00,1274505000.00,1210283000.00,360669000.00,1208635000.00,3899.72,100.00,1726.49,44.27,1196.13,30.67,127.37,3.27,120.95,3.10,36.04,0.92,120.78,3.10,30.95,60.22,3.60,9.15,2.14
HI,1406299.00,28688.00,357164.00,530551.00,139251.00,333119.00,153944.00,10.95,10504000000.00,3179124000.00,2558379000.00,659902000.00,484996000.00,36790000.00,212812000.00,7469.25,100.00,2260.63,30.27,1819.23,24.36,469.25,6.28,344.87,4.62,26.16,0.35,151.33,2.03,2.04,25.40,37.73,9.90,23.69
ID,1616547.00,9900.00,1482914.00,21711.00,191314.00,41226.00,245177.00,15.17,7711133000.00,2786541000.00,2334833000.00,46630000.00,106054000.00,58637000.00,256902000.00,4770.13,100.00,1723.76,36.14,1444.33,30.28,28.85,0.60,65.61,1.38,36.27,0.76,158.92,3.33,0.61,91.73,1.34,11.83,2.55
IL,12873761.00,1846108.00,9312771.00,645642.00,2122841.00,289537.00,1801118.00,13.99,71652058000.00,18032033000.00,24395723000.00,757268000.00,1230305000.00,413036000.00,1502405000.00,5565.74,100.00,1400.68,25.17,1895.00,34.05,58.82,1.06,95.57,1.72,32.08,0.58,116.70,2.10,14.34,72.34,5.02,16.49,2.25
IN,6568645.00,603014.00,5529201.00,121729.00,421206.00,145601.00,978043.00,14.89,34470175000.00,14801529000.00,11563940000.00,143620000.00,454447000.00,225038000.00,687837000.00,5247.68,100.00,2253.36,42.94,1760.48,33.55,21.86,0.42,69.18,1.32,34.26,0.65,104.72,2.00,9.18,84.18,1.85,6.41,2.22
IA,3093526.00,97788.00,2820046.00,62997.00,168230.00,60964.00,373883.00,12.09,19894554000.00,7129439000.00,5905922000.00,1727315000.00,203481000.00,100780000.00,294185000.00,6431.03,100.00,2304.63,35.84,1909.12,29.69,558.36,8.68,65.78,1.02,32.58,0.51,95.10,1.48,3.16,91.16,2.04,5.44,1.97
KS,2892987.00,168402.00,2464566.00,75653.00,323218.00,95365.00,381353.00,13.18,16149962000.00,7010167000.00,3825630000.00,1711494000.00,364256000.00,103785000.00,359801000.00,5582.45,100.00,2423.16,43.41,1322.38,23.69,591.60,10.60,125.91,2.26,35.87,0.64,124.37,2.23,5.82,85.19,2.62,11.17,3.30
KY,4397353.00,347034.00,3851591.00,55483.00,143481.00,90836.00,805841.00,18.33,29182828000.00,9614803000.00,10875235000.00,1572995000.00,427761000.00,196160000.00,542193000.00,6636.45,100.00,2186.50,32.95,2473.13,37.27,357.71,5.39,97.28,1.47,44.61,0.67,123.30,1.86,7.89,87.59,1.26,3.26,2.07
LA,4625253.00,1484363.00,2902538.00,77818.00,218263.00,83877.00,888280.00,19.21,26154618000.00,8897506000.00,8399355000.00,355809000.00,364693000.00,326366000.00,672298000.00,5654.74,100.00,1923.68,34.02,1815.98,32.11,76.93,1.36,78.85,1.39,70.56,1.25,145.35,2.57,32.09,62.75,1.68,4.72,1.81
ME,1329100.00,15037.00,1262026.00,14590.00,19447.00,26298.00,180278.00,13.56,7548525000.00,2035487000.00,3011951000.00,94039000.00,172886000.00,76304000.00,152969000.00,5679.43,100.00,1531.48,26.97,2266.16,39.90,70.75,1.25,130.08,2.29,57.41,1.01,115.09,2.03,1.13,94.95,1.10,1.46,1.98
MD,5930538.00,1750916.00,3416107.00,357616.00,533671.00,175652.00,576805.00,9.73,38041607000.00,12168535000.00,12174866000.00,542067000.00,2130721000.00,601949000.00,1476397000.00,6414.53,100.00,2051.84,31.99,2052.91,32.00,91.40,1.42,359.28,5.60,101.50,1.58,248.95,3.88,29.52,57.60,6.03,9.00,2.96
MA,6705586.00,478947.00,5334859.00,400675.00,707928.00,194677.00,748905.00,11.17,51122359000.00,12323712000.00,19895426000.00,760148000.00,928106000.00,577613000.00,1378933000.00,7623.85,100.00,1837.83,24.11,2966.99,38.92,113.36,1.49,138.41,1.82,86.14,1.13,205.64,2.70,7.14,79.56,5.98,10.56,2.90
MI,9900571.00,1381388.00,7823875.00,268766.00,467021.00,261324.00,1616870.00,16.33,59085103000.00,24211552000.00,18410125000.00,3422936000.00,1194651000.00,470963000.00,1888248000.00,5967.85,100.00,2445.47,40.98,1859.50,31.16,345.73,5.79,120.66,2.02,47.57,0.80,190.72,3.20,13.95,79.02,2.71,4.72,2.64
MN,5419171.00,299176.00,4594367.00,240786.00,270984.00,144226.00,596662.00,11.01,37570750000.00,14289649000.00,12761965000.00,297779000.00,431389000.00,436648000.00,528792000.00,6932.93,100.00,2636.87,38.03,2354.97,33.97,54.95,0.79,79.60,1.15,80.57,1.16,97.58,1.41,5.52,84.78,4.44,5.00,2.66
MS,2988081.00,1116457.00,1768174.00,28900.00,86507.00,35334.00,651545.00,21.80,18354508000.00,5791535000.00,6228236000.00,1257672000.00,340349000.00,162829000.00,371359000.00,6142.57,100.00,1938.21,31.55,2084.36,33.93,420.90,6.85,113.90,1.85,54.49,0.89,124.28,2.02,37.36,59.17,0.97,2.90,1.18
MO,6045448.00,697022.00,4995527.00,106537.00,233046.00,147645.00,915972.00,15.15,27826546000.00,9507971000.00,8676992000.00,1858510000.00,1659447000.00,250460000.00,770323000.00,4602.89,100.00,1572.75,34.17,1435.29,31.18,307.42,6.68,274.50,5.96,41.43,0.90,127.42,2.77,11.53,82.63,1.76,3.85,2.44
MT,1014699.00,4757.00,904977.00,7187.00,33622.00,25777.00,150586.00,14.84,5691082000.00,1798401000.00,1459870000.00,52666000.00,118398000.00,53776000.00,203181000.00,5608.64,100.00,1772.35,31.60,1438.72,25.65,51.90,0.93,116.68,2.08,53.00,0.94,200.24,3.57,0.47,89.19,0.71,3.31,2.54
NE,1869365.00,88195.00,1647551.00,38066.00,186268.00,41595.00,231115.00,12.36,9664338000.00,3593464000.00,2493798000.00,266398000.00,276120000.00,82705000.00,349077000.00,5169.85,100.00,1922.29,37.18,1334.03,25.80,142.51,2.76,147.71,2.86,44.24,0.86,186.74,3.61,4.72,88.13,2.04,9.96,2.23
NV,2798636.00,235721.00,1929661.00,214846.00,770553.00,122935.00,426337.00,15.23,11662037000.00,4714642000.00,3154084000.00,225109000.00,227383000.00,77752000.00,258420000.00,4167.04,100.00,1684.62,40.43,1127.01,27.05,80.44,1.93,81.25,1.95,27.78,0.67,92.34,2.22,8.42,68.95,7.68,27.53,4.39
NH,1324201.00,17439.00,1241313.00,31364.00,42141.00,24346.00,113840.00,8.60,6764330000.00,2277515000.00,2106083000.00,55161000.00,93285000.00,62687000.00,121853000.00,5108.24,100.00,1719.92,33.67,1590.46,31.14,41.66,0.82,70.45,1.38,47.34,0.93,92.02,1.80,1.32,93.74,2.37,3.18,1.84
NJ,8904413.00,1202300.00,6083940.00,804989.00,1688008.00,223826.00,944847.00,10.61,60697956000.00,22285616000.00,17094670000.00,2051020000.00,2874076000.00,831284000.00,1471630000.00,6816.62,100.00,2502.76,36.72,1919.80,28.16,230.34,3.38,322.77,4.74,93.36,1.37,165.27,2.42,13.50,68.32,9.04,18.96,2.51
NM,2084117.00,43738.00,1524911.00,28761.00,986972.00,68053.00,429361.00,20.60,17816434000.00,5840534000.00,5689510000.00,1027289000.00,314763000.00,145509000.00,456721000.00,8548.67,100.00,2802.40,32.78,2729.94,31.93,492.91,5.77,151.03,1.77,69.82,0.82,219.14,2.56,2.10,73.17,1.38,47.36,3.27
NY,19673174.00,3070392.00,12704637.00,1570223.00,3619658.00,560879.00,3005943.00,15.28,151427270000.00,43024231000.00,58001659000.00,5006495000.00,8271505000.00,904891000.00,3075600000.00,7697.14,100.00,2186.95,28.41,2948.26,38.30,254.48,3.31,420.45,5.46,46.00,0.60,156.33,2.03,15.61,64.58,7.98,18.40,2.85
NC,9845333.00,2115338.00,6839831.00,244076.00,869908.00,231391.00,1667465.00,16.94,49010718000.00,19912132000.00,14560381000.00,1804269000.00,1343179000.00,506044000.00,1270111000.00,4978.07,100.00,2022.49,40.63,1478.91,29.71,183.26,3.68,136.43,2.74,51.40,1.03,129.01,2.59,21.49,69.47,2.48,8.84,2.35
ND,721640.00,11872.00,640208.00,8979.00,20569.00,16132.00,79758.00,11.05,7161778000.00,2307999000.00,1385251000.00,52200000.00,129752000.00,37021000.00,91486000.00,9924.31,100.00,3198.27,32.23,1919.59,19.34,72.34,0.73,179.80,1.81,51.30,0.52,126.78,1.28,1.65,88.72,1.24,2.85,2.24
OH,11575977.00,1412045.00,9538328.00,216170.00,390970.00,287212.00,1775836.00,15.34,65287289000.00,22208885000.00,25344578000.00,3047779000.00,1664178000.00,360237000.00,1589278000.00,5639.89,100.00,1918.53,34.02,2189.41,38.82,263.28,4.67,143.76,2.55,31.12,0.55,137.29,2.43,12.20,82.40,1.87,3.38,2.48
OK,3849733.00,278571.00,2813794.00,74570.00,371459.00,299936.00,624043.00,16.21,20704332000.00,7672357000.00,6693834000.00,216162000.00,824036000.00,181741000.00,567034000.00,5378.12,100.00,1992.96,37.06,1738.78,32.33,56.15,1.04,214.05,3.98,47.21,0.88,147.29,2.74,7.24,73.09,1.94,9.65,7.79
OR,3939233.00,72837.00,3352941.00,156695.00,485646.00,162793.00,636947.00,16.17,28688736000.00,8997319000.00,9870345000.00,2150063000.00,607119000.00,176304000.00,777917000.00,7282.82,100.00,2284.03,31.36,2505.65,34.40,545.81,7.49,154.12,2.12,44.76,0.61,197.48,2.71,1.85,85.12,3.98,12.33,4.13
PA,12779559.00,1403143.00,10430142.00,392595.00,815538.00,272689.00,1666569.00,13.04,76641318000.00,24204413000.00,24655737000.00,4231964000.00,3086492000.00,1052778000.00,2099219000.00,5997.18,100.00,1893.99,31.58,1929.31,32.17,331.15,5.52,241.52,4.03,82.38,1.37,164.26,2.74,10.98,81.62,3.07,6.38,2.13
RI,1053661.00,68243.00,854859.00,34213.00,143788.00,29782.00,144223.00,13.69,7535554000.00,1981863000.00,3008751000.00,56811000.00,184434000.00,87957000.00,201365000.00,7151.78,100.00,1880.93,26.30,2855.52,39.93,53.92,0.75,175.04,2.45,83.48,1.17,191.11,2.67,6.48,81.13,3.25,13.65,2.83
SC,4777576.00,1315058.00,3210708.00,66982.00,254092.00,93950.00,830901.00,17.39,25224165000.00,9160360000.00,7594043000.00,1637482000.00,1003641000.00,167268000.00,458406000.00,5279.70,100.00,1917.37,36.32,1589.52,30.11,342.74,6.49,210.07,3.98,35.01,0.66,95.95,1.82,27.53,67.20,1.40,5.32,1.97
SD,843190.00,13133.00,716691.00,10152.00,27914.00,22323.00,114907.00,13.63,4263678000.00,1320602000.00,1101035000.00,23640000.00,125551000.00,45414000.00,125955000.00,5056.60,100.00,1566.20,30.97,1305.80,25.82,28.04,0.55,148.90,2.94,53.86,1.07,149.38,2.95,1.56,85.00,1.20,3.31,2.65
TN,6499615.00,1091070.00,5059894.00,102027.00,320090.00,128760.00,1117594.00,17.19,28340888000.00,10131629000.00,11235158000.00,347785000.00,612458000.00,208743000.00,903791000.00,4360.39,100.00,1558.80,35.75,1728.59,39.64,53.51,1.23,94.23,2.16,32.12,0.74,139.05,3.19,16.79,77.85,1.57,4.92,1.98
TX,26538614.00,3152917.00,19874610.00,1124011.00,10196367.00,653062.00,4472451.00,16.85,119937919000.00,51934894000.00,36204845000.00,6970243000.00,2509135000.00,1000389000.00,3848272000.00,4519.37,100.00,1956.96,43.30,1364.23,30.19,262.65,5.81,94.55,2.09,37.70,0.83,145.01,3.21,11.88,74.89,4.24,38.42,2.46
UT,2903379.00,31909.00,2544735.00,64102.00,389856.00,74755.00,351601.00,12.11,16423836000.00,7444709000.00,3428679000.00,1501057000.00,254522000.00,144063000.00,342133000.00,5656.80,100.00,2564.15,45.33,1180.93,20.88,517.00,9.14,87.66,1.55,49.62,0.88,117.84,2.08,1.10,87.65,2.21,13.43,2.57
VT,626604.00,6949.00,594443.00,8774.00,10691.00,12169.00,69233.00,11.05,6166657000.00,2596210000.00,1750376000.00,19328000.00,334625000.00,99220000.00,145129000.00,9841.39,100.00,4143.30,42.10,2793.43,28.38,30.85,0.31,534.03,5.43,158.35,1.61,231.61,2.35,1.11,94.87,1.40,1.71,1.94
VA,8256630.00,1589345.00,5695147.00,492973.00,709156.00,268167.00,921822.00,11.16,44870128000.00,15981360000.00,9986797000.00,4417363000.00,1215670000.00,426084000.00,1453297000.00,5434.44,100.00,1935.58,35.62,1209.55,22.26,535.01,9.84,147.24,2.71,51.61,0.95,176.02,3.24,19.25,68.98,5.97,8.59,3.25
WA,6985464.00,253224.00,5434177.00,535501.00,835488.00,360705.00,908512.00,13.01,43875706000.00,17101172000.00,11329491000.00,2586923000.00,2239003000.00,405692000.00,984771000.00,6281.00,100.00,2448.11,38.98,1621.87,25.82,370.33,5.90,320.52,5.10,58.08,0.92,140.97,2.24,3.63,77.79,7.67,11.96,5.16
WV,1851420.00,61367.00,1732235.00,13485.00,25408.00,36189.00,323384.00,17.47,12790705000.00,4440368000.00,4651087000.00,136349000.00,264918000.00,73554000.00,285324000.00,6908.59,100.00,2398.36,34.72,2512.17,36.36,73.65,1.07,143.09,2.07,39.73,0.58,154.11,2.23,3.31,93.56,0.73,1.37,1.95
WI,5742117.00,360792.00,4967124.00,143732.00,364558.00,122730.00,724348.00,12.61,34899560000.00,11752333000.00,9955799000.00,1877692000.00,724909000.00,96946000.00,1125914000.00,6077.82,100.00,2046.69,33.67,1733.82,28.53,327.00,5.38,126.24,2.08,16.88,0.28,196.08,3.23,6.28,86.50,2.50,6.35,2.14
WY,579679.00,6142.00,527763.00,5319.00,55698.00,15489.00,64995.00,11.21,5232487000.00,2020840000.00,799594000.00,3442000.00,228679000.00,39244000.00,143520000.00,9026.53,100.00,3486.14,38.62,1379.37,15.28,5.94,0.07,394.49,4.37,67.70,0.75,247.59,2.74,1.06,91.04,0.92,9.61,2.67

# POLICE DEATHS

In [56]:
csv_file = "police_deaths.csv"
police_deaths_df = pd.read_csv(csv_file)
police_deaths_df.head()

,person,dept,eow,cause,cause_short,date,year,canine,dept_name,state
0,Constable Darius Quimby,"Albany County Constable's Office, NY","EOW: Monday, January 3, 1791",Cause of Death: Gunfire,Gunfire,1791-01-03,1791,False,Albany County Constable's Office,NY
1,Sheriff Cornelius Hogeboom,"Columbia County Sheriff's Office, NY","EOW: Saturday, October 22, 1791",Cause of Death: Gunfire,Gunfire,1791-10-22,1791,False,Columbia County Sheriff's Office,NY
2,Deputy Sheriff Isaac Smith,"Westchester County Sheriff's Department, NY","EOW: Thursday, May 17, 1792",Cause of Death: Gunfire,Gunfire,1792-05-17,1792,False,Westchester County Sheriff's Department,NY
3,Marshal Robert Forsyth,United States Department of Justice - United S...,"EOW: Saturday, January 11, 1794",Cause of Death: Gunfire,Gunfire,1794-01-11,1794,False,United States Department of Justice - United S...,US
4,Sheriff Robert Maxwell,"Greenville County Sheriff's Office, SC","EOW: Sunday, November 12, 1797",Cause of Death: Gunfire,Gunfire,1797-11-12,1797,False,Greenville County Sheriff's Office,SC

In [57]:
#Create filtered dataframe with specific columns
deaths_columns = ["year", "cause_short", "state"]
police_deaths_transformed = police_deaths_df[deaths_columns].copy()

In [58]:
#Rename the column headers
police_deaths_transformed = police_deaths_transformed.rename(columns = {"year" : "id"})
police_deaths_transformed.head()

     id cause_short state
0  1791     Gunfire    NY
1  1791     Gunfire    NY
2  1792     Gunfire    NY
3  1794     Gunfire    US
4  1797     Gunfire    SC

In [59]:
#Set index
police_deaths_transformed.set_index("id", inplace=True)
police_deaths_transformed.head()

     cause_short state
id
1791     Gunfire    NY
1791     Gunfire    NY
1792     Gunfire    NY
1794     Gunfire    US
1797     Gunfire    SC

In [60]:
#loc data on year 2015
year_filtered= police_deaths_transformed.loc['2015']
year_filtered.head()

              cause_short state
id
2015    Struck by vehicle    CO
2015         Heart attack    MO
2015      Vehicle pursuit    MD
2015  Automobile accident    TX
2015  Automobile accident    TX

In [130]:
#Create filter to get gunfire deaths only
pd.options.display.max_columns = None
gunfire_filtered= year_filtered.loc[year_filtered['cause_short'] == 'Gunfire']
gunfire_filtered

     cause_short state
id
2015     Gunfire    GA
2015     Gunfire    PA
2015     Gunfire    US
2015     Gunfire    TR
2015     Gunfire    CA
2015     Gunfire    WI
2015     Gunfire    NY
2015     Gunfire    ID
2015     Gunfire    MS
2015     Gunfire    MS
2015     Gunfire    AR
2015     Gunfire    NE
2015     Gunfire    LA
2015     Gunfire    NM
2015     Gunfire    OH
2015     Gunfire    LA
2015     Gunfire    CA
2015     Gunfire    TN
2015     Gunfire    LA
2015     Gunfire    NV
2015     Gunfire    LA
2015     Gunfire    LA
2015     Gunfire    TX
2015     Gunfire    PR
2015     Gunfire    KY
2015     Gunfire    IL
2015     Gunfire    FL
2015     Gunfire    SC
2015     Gunfire    MN
2015     Gunfire    NY
2015     Gunfire    NM
2015     Gunfire    KY
2015     Gunfire    TX
2015     Gunfire    CA
2015     Gunfire    CO
2015     Gunfire    PA
2015     Gunfire    PR
2015     Gunfire    PR
2015     Gunfire    PR
2015     Gunfire    CA
2015     Gunfire    TX
2015     Gunfire    OH
2015     Gunfire    SC

In [131]:
#Group data by state

state_grouped = gunfire_filtered.groupby("state").count()
#Rename the column headers
state_grouped_df = state_grouped.rename(columns = {"cause_short" : "police_shooting_deaths"})

# format state names to remove leading space
state_grouped_df.index = state_grouped_df.index.str.lstrip()

# drop territories/tribes/incorrect data 
state_grouped_df.drop(['PR', 'TR', 'US'], inplace = True)

# show
state_grouped_df.head()

       police_shooting_deaths
state
AR                          1
CA                          4
CO                          1
FL                          1
GA                          1

# Police Killings

In [71]:
#Clean up the look of the df step one( show all columns)
#===============================================================
pd.options.display.max_columns = None

In [72]:
police_killings_df = pd.read_csv("police_killings(Dwayne)/police_killings.csv", encoding = "iso-8859-1")
display(police_killings_df)

,name,age,gender,raceethnicity,month,day,year,street address,city,state,latitude,longitude,state_fp,county_fp,tract_ce,geo_id,county_id,namelsad,lawenforcementagency,cause,armed,pop,share_white,share_black,share_hispanic,p_income,h_income,county_income,comp_income,county_bucket,nat_bucket,pov,urate,college
0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,32.53,-86.36,1,51,30902,1051030902,1051,Census Tract 309.02,Millbrook Police Department,Gunshot,No,3779,60.5,30.5,5.6,28375,51367.00,54766,0.94,3.00,3.00,14.1,0.10,0.17
1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,31.32,-92.43,22,79,11700,22079011700,22079,Census Tract 117,Rapides Parish Sheriff's Office,Gunshot,No,2769,53.8,36.2,0.5,14678,27972.00,40930,0.68,2.00,1.00,28.8,0.07,0.11
2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,42.58,-87.84,55,59,1200,55059001200,55059,Census Tract 12,Kenosha Police Department,Gunshot,No,4079,73.8,7.7,16.8,25286,45365.00,54930,0.83,2.00,3.00,14.6,0.17,0.15
3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,33.94,-118.22,6,37,535607,6037535607,6037,Census Tract 5356.07,South Gate Police Department,Gunshot,Firearm,4343,1.2,0.6,98.8,17194,48295.00,55909,0.86,3.00,3.00,11.7,0.12,0.05
4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,41.15,-81.43,39,153,530800,39153530800,39153,Census Tract 5308,Kent Police Department,Gunshot,No,6809,92.5,1.4,1.7,33954,68785.00,49669,1.38,5.00,4.00,1.9,0.06,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,William Chapman II,18,Male,Black,April,22,2015,1098 Frederick Blvd,Portsmouth,VA,36.83,-76.34,51,740,211500,51740211500,51740,Census Tract 2115,Portsmouth Police Department,Gunshot,No,1640,40.9,53.8,0,25262,27418.00,46166,0.59,1.00,1.00,35.2,0.15,0.12
463,William Dick III,28,Male,Native American,April,4,2015,Bureau of Indian Affairs Rd 66,Tonasket,WA,48.71,-119.44,53,47,970400,53047970400,53047,Census Tract 9704,US Forest Service,Taser,Firearm,4154,74.5,0.4,20.2,18470,35608.00,40368,0.88,1.00,2.00,27.3,0.13,0.17
464,William Poole,52,Male,White,March,16,2015,130 Wedowee Ln,Gaston,NC,35.21,-81.24,37,71,31704,37071031704,37071,Census Tract 317.04,Gaston County Police Department,Gunshot,Firearm,3850,83.2,10.1,0.3,21175,38200.00,42017,0.91,2.00,2.00,28.5,0.26,0.07
465,Yuvette Henderson,38,Female,Black,February,3,2015,3800 Hollis St,Oakland,CA,37.83,-122.28,6,1,401700,6001401700,6001,Census Tract 4017,Emeryville Police Department,Gunshot,Firearm,2544,21.7,24.9,37.1,26971,63052.00,72112,0.87,2.00,4.00,23.9,0.07,0.40
466,Zaki Shinwary,48,Male,Unknown,January,16,2015,Lake Arrowhead Ave and Great Salt Lake Dr,Fremont,CA,37.59,-122.06,6,1,441522,6001441522,6001,Census Tract 4415.22,Fremont Police Department,Gunshot,Firearm,5177,23.1,4,12.3,33590,88940.00,72112,1.23,4.00,5.00,6.1,0.08,0.44

In [73]:
#Changing the name of the dataframe
df = pd.DataFrame(police_killings_df)
df.head()

,name,age,gender,raceethnicity,month,day,year,street address,city,state,latitude,longitude,state_fp,county_fp,tract_ce,geo_id,county_id,namelsad,lawenforcementagency,cause,armed,pop,share_white,share_black,share_hispanic,p_income,h_income,county_income,comp_income,county_bucket,nat_bucket,pov,urate,college
0,A'donte Washington,16,Male,Black,February,23,2015,Clearview Ln,Millbrook,AL,32.53,-86.36,1,51,30902,1051030902,1051,Census Tract 309.02,Millbrook Police Department,Gunshot,No,3779,60.5,30.5,5.6,28375,51367.00,54766,0.94,3.00,3.00,14.1,0.10,0.17
1,Aaron Rutledge,27,Male,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,31.32,-92.43,22,79,11700,22079011700,22079,Census Tract 117,Rapides Parish Sheriff's Office,Gunshot,No,2769,53.8,36.2,0.5,14678,27972.00,40930,0.68,2.00,1.00,28.8,0.07,0.11
2,Aaron Siler,26,Male,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,42.58,-87.84,55,59,1200,55059001200,55059,Census Tract 12,Kenosha Police Department,Gunshot,No,4079,73.8,7.7,16.8,25286,45365.00,54930,0.83,2.00,3.00,14.6,0.17,0.15
3,Aaron Valdez,25,Male,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,33.94,-118.22,6,37,535607,6037535607,6037,Census Tract 5356.07,South Gate Police Department,Gunshot,Firearm,4343,1.2,0.6,98.8,17194,48295.00,55909,0.86,3.00,3.00,11.7,0.12,0.05
4,Adam Jovicic,29,Male,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,41.15,-81.43,39,153,530800,39153530800,39153,Census Tract 5308,Kent Police Department,Gunshot,No,6809,92.5,1.4,1.7,33954,68785.00,49669,1.38,5.00,4.00,1.9,0.06,0.40

In [74]:
#Using shape to count how many columns and rows are in the dateframe
#====================================================================
df.shape

(467, 34)

In [75]:
#Remove the columns that we found unneccessary for our analysis
#===============================================================================================================
df.drop(df.columns[[2,10,11,12,13,14,15,16,17,18,21,22,23,24,25,26,27,28,29,30,31,32,33]], axis=1, inplace=True)

In [76]:
#Check out results
#============================================
display(df)

,name,age,raceethnicity,month,day,year,street address,city,state,cause,armed
0,A'donte Washington,16,Black,February,23,2015,Clearview Ln,Millbrook,AL,Gunshot,No
1,Aaron Rutledge,27,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Gunshot,No
2,Aaron Siler,26,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Gunshot,No
3,Aaron Valdez,25,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,Gunshot,Firearm
4,Adam Jovicic,29,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Gunshot,No
...,...,...,...,...,...,...,...,...,...,...,...
462,William Chapman II,18,Black,April,22,2015,1098 Frederick Blvd,Portsmouth,VA,Gunshot,No
463,William Dick III,28,Native American,April,4,2015,Bureau of Indian Affairs Rd 66,Tonasket,WA,Taser,Firearm
464,William Poole,52,White,March,16,2015,130 Wedowee Ln,Gaston,NC,Gunshot,Firearm
465,Yuvette Henderson,38,Black,February,3,2015,3800 Hollis St,Oakland,CA,Gunshot,Firearm
466,Zaki Shinwary,48,Unknown,January,16,2015,Lake Arrowhead Ave and Great Salt Lake Dr,Fremont,CA,Gunshot,Firearm

In [77]:
#Rename columns
#=============================================================================
df.rename(columns = {
                    'name': 'Name',
                    'age': 'Age',
                    'raceethnicity': 'Ethnicity',
                    'month': 'Month',
                    'day': 'Day',
                    'year': 'Year', 
                    'street address':'Street Address',
                    'city': 'City',
                    'state': 'State',
                    'cause': "Cause of Death",
                    'armed': 'Armed'
}, inplace=True)

In [78]:
#Check results
display(df)

,Name,Age,Ethnicity,Month,Day,Year,Street Address,City,State,Cause of Death,Armed
0,A'donte Washington,16,Black,February,23,2015,Clearview Ln,Millbrook,AL,Gunshot,No
1,Aaron Rutledge,27,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Gunshot,No
2,Aaron Siler,26,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Gunshot,No
3,Aaron Valdez,25,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,Gunshot,Firearm
4,Adam Jovicic,29,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Gunshot,No
...,...,...,...,...,...,...,...,...,...,...,...
462,William Chapman II,18,Black,April,22,2015,1098 Frederick Blvd,Portsmouth,VA,Gunshot,No
463,William Dick III,28,Native American,April,4,2015,Bureau of Indian Affairs Rd 66,Tonasket,WA,Taser,Firearm
464,William Poole,52,White,March,16,2015,130 Wedowee Ln,Gaston,NC,Gunshot,Firearm
465,Yuvette Henderson,38,Black,February,3,2015,3800 Hollis St,Oakland,CA,Gunshot,Firearm
466,Zaki Shinwary,48,Unknown,January,16,2015,Lake Arrowhead Ave and Great Salt Lake Dr,Fremont,CA,Gunshot,Firearm

In [115]:
rds_connection_string = "postgres:postgres@localhost:5432/police_shootings"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [96]:
inspector =inspect(engine)

In [97]:
inspector.get_table_names()

['police_killings', 'state_info', 'police_deaths']

In [98]:
#Using the inspector to print the column names within the 'Police_killings' table and its types
columns = inspector.get_columns('police_killings')
for column in columns:
    print(column["name"], column["type"])

ID INTEGER
Name VARCHAR
Age VARCHAR
Ethnicity VARCHAR
Month VARCHAR
Day INTEGER
Year INTEGER
Street Address VARCHAR
City VARCHAR
State VARCHAR
Cause of Death VARCHAR
Armed VARCHAR

In [99]:
#Load DataFrames into database 
df.to_sql(name='police_killings', con=engine, if_exists='append', index=False)

In [116]:
state_df.to_sql(name="state_info", con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "state_info_pkey"
DETAIL:  Key ("State")=(AL) already exists.

[SQL: INSERT INTO state_info ("State", "Population", "Population Black", "Population White", "Population Asian", "Population Hispanic", "Population Mixed Race", "Poverty Count", "Poverty Rate", "Total General Expenditure", "Education Expediture", "Public Welfare Expenditure", "Hospitals Expenditure", "Health Expenditure", "Police Protection Expenditure", "Correction Expenditure", "Total General Expenditure per capita", "Total General Expenditure Percentage of Budget", "Education Expediture per capita", "Education Expediture Percentage of Budget", "Public Welfare Expenditure per capita", "Public Welfare Expenditure Percentage of Budget", "Hospitals Expenditure per capita", "Hospitals Expenditure Percentage of Budget", "Health Expenditure per capita", "Health Expenditure Percentage of Budget", "Police Protection Expenditure per capita", "Police Protection Expenditure Percentage of Budget", "Correction Expenditure per capita", "Correction Expenditure Percentage of Budget", "Population Black Percentage", "Population White Percentage", "Population Asian Percentage", "Population Hispanic Percentage", "Population Mixed Race Percentage") VALUES (%(State)s, %(Population)s, %(Population Black)s, %(Population White)s, %(Population Asian)s, %(Population Hispanic)s, %(Population Mixed Race)s, %(Poverty Count)s, %(Poverty Rate)s, %(Total General Expenditure)s, %(Education Expediture)s, %(Public Welfare Expenditure)s, %(Hospitals Expenditure)s, %(Health Expenditure)s, %(Police Protection Expenditure)s, %(Correction Expenditure)s, %(Total General Expenditure per capita)s, %(Total General Expenditure Percentage of Budget)s, %(Education Expediture per capita)s, %(Education Expediture Percentage of Budget)s, %(Public Welfare Expenditure per capita)s, %(Public Welfare Expenditure Percentage of Budget)s, %(Hospitals Expenditure per capita)s, %(Hospitals Expenditure Percentage of Budget)s, %(Health Expenditure per capita)s, %(Health Expenditure Percentage of Budget)s, %(Police Protection Expenditure per capita)s, %(Police Protection Expenditure Percentage of Budget)s, %(Correction Expenditure per capita)s, %(Correction Expenditure Percentage of Budget)s, %(Population Black Percentage)s, %(Population White Percentage)s, %(Population Asian Percentage)s, %(Population Hispanic Percentage)s, %(Population Mixed Race Percentage)s)]
[parameters: ({'State': 'AL', 'Population': 4830620.0, 'Population Black': 1276544.0, 'Population White': 3325464.0, 'Population Asian': 59599.0, 'Population Hispanic': 193492.0, 'Population Mixed Race': 81646.0, 'Poverty Count': 887260.0, 'Poverty Rate': 18.37, 'Total General Expenditure': 28710747000.0, 'Education Expediture': 12235527000.0, 'Public Welfare Expenditure': 8204660000.0, 'Hospitals Expenditure': 2370549000.0, 'Health Expenditure': 414116000.0, 'Police Protection Expenditure': 155814000.0, 'Correction Expenditure': 555852000.0, 'Total General Expenditure per capita': 5943.491104661513, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 2532.9102682471403, 'Education Expediture Percentage of Budget': 42.616540071214445, 'Public Welfare Expenditure per capita': 1698.4693476199743, 'Public Welfare Expenditure Percentage of Budget': 28.57696457706238, 'Hospitals Expenditure per capita': 490.7339016523759, 'Hospitals Expenditure Percentage of Budget': 8.256660824603413, 'Health Expenditure per capita': 85.7272979451913, 'Health Expenditure Percentage of Budget': 1.4423727811749376, 'Police Protection Expenditure per capita': 32.255486873320606, 'Police Protection Expenditure Percentage of Budget': 0.5427027029286281, 'Correction Expenditure per capita': 115.0684591211894, 'Correction Expenditure Percentage of Budget': 1.9360415805273197, 'Population Black Percentage': 26.426090232723748, 'Population White Percentage': 68.84134955761371, 'Population Asian Percentage': 1.2337753745895972, 'Population Hispanic Percentage': 4.005531381064956, 'Population Mixed Race Percentage': 1.6901764162778277}, {'State': 'AK', 'Population': 733375.0, 'Population Black': 25022.0, 'Population White': 484250.0, 'Population Asian': 42921.0, 'Population Hispanic': 47808.0, 'Population Mixed Race': 61755.0, 'Poverty Count': 72957.0, 'Poverty Rate': 9.95, 'Total General Expenditure': 11580917000.0, 'Education Expediture': 2703274000.0, 'Public Welfare Expenditure': 2113211000.0, 'Hospitals Expenditure': 68984000.0, 'Health Expenditure': 283698000.0, 'Police Protection Expenditure': 161965000.0, 'Correction Expenditure': 340726000.0, 'Total General Expenditure per capita': 15791.262314641213, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 3686.0732912902677, 'Education Expediture Percentage of Budget': 23.34248660965276, 'Public Welfare Expenditure per capita': 2881.487642747571, 'Public Welfare Expenditure Percentage of Budget': 18.24735467839032, 'Hospitals Expenditure per capita': 94.0637463780467, 'Hospitals Expenditure Percentage of Budget': 0.5956695829872539, 'Health Expenditure per capita': 386.83892960627236, 'Health Expenditure Percentage of Budget': 2.4497023853983237, 'Police Protection Expenditure per capita': 220.84881540821544, 'Police Protection Expenditure Percentage of Budget': 1.3985507365263046, 'Correction Expenditure per capita': 464.59996591102777, 'Correction Expenditure Percentage of Budget': 2.9421331661387438, 'Population Black Percentage': 3.4118970513039035, 'Population White Percentage': 66.03033918527356, 'Population Asian Percentage': 5.852531106187149, 'Population Hispanic Percentage': 6.518902335094596, 'Population Mixed Race Percentage': 8.420657917163798}, {'State': 'AZ', 'Population': 6641928.0, 'Population Black': 281576.0, 'Population White': 5210335.0, 'Population Asian': 200090.0, 'Population Hispanic': 2014711.0, 'Population Mixed Race': 211845.0, 'Poverty Count': 1180690.0, 'Poverty Rate': 17.78, 'Total General Expenditure': 28577420000.0, 'Education Expediture': 10452117000.0, 'Public Welfare Expenditure': 10346172000.0, 'Hospitals Expenditure': 64560000.0, 'Health Expenditure': 625316000.0, 'Police Protection Expenditure': 259768000.0, 'Correction Expenditure': 1097103000.0, 'Total General Expenditure per capita': 4302.579010191017, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 1573.6570766801447, 'Education Expediture Percentage of Budget': 36.57473977706875, 'Public Welfare Expenditure per capita': 1557.706135929206, 'Public Welfare Expenditure Percentage of Budget': 36.204010019098995, 'Hospitals Expenditure per capita': 9.72006923290948, 'Hospitals Expenditure Percentage of Budget': 0.22591262612230217, 'Health Expenditure per capita': 94.14675979625193, 'Health Expenditure Percentage of Budget': 2.1881471455435797, 'Police Protection Expenditure per capita': 39.110330614845566, 'Police Protection Expenditure Percentage of Budget': 0.9089973832487327, 'Correction Expenditure per capita': 165.1783939843973, 'Correction Expenditure Percentage of Budget': 3.83905545007212, 'Population Black Percentage': 4.23937145961233, 'Population White Percentage': 78.44612287275622, 'Population Asian Percentage': 3.0125288922132247, 'Population Hispanic Percentage': 30.333225533309005, 'Population Mixed Race Percentage': 3.1895106360683227}, {'State': 'AR', 'Population': 2958208.0, 'Population Black': 459748.0, 'Population White': 2307849.0, 'Population Asian': 40336.0, 'Population Hispanic': 203226.0, 'Population Mixed Race': 62537.0, 'Poverty Count': 553644.0, 'Poverty Rate': 18.72, 'Total General Expenditure': 19882973000.0, 'Education Expediture': 8162327000.0, 'Public Welfare Expenditure': 6572760000.0, 'Hospitals Expenditure': 871039000.0, 'Health Expenditure': 243532000.0, 'Police Protection Expenditure': 107112000.0, 'Correction Expenditure': 351802000.0, 'Total General Expenditure per capita': 6721.289713231794, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 2759.2133480810003, 'Education Expediture Percentage of Budget': 41.05184370566716, 'Public Welfare Expenditure per capita': 2221.872160443079, 'Public Welfare Expenditure Percentage of Budget': 33.05722941936299, 'Hospitals Expenditure per capita': 294.44819296006233, 'Hospitals Expenditure Percentage of Budget': 4.380828762378744, 'Health Expenditure per capita': 82.32416381809529, 'Health Expenditure Percentage of Budget': 1.2248268908276443, 'Police Protection Expenditure per capita': 36.208407251957944, 'Police Protection Expenditure Percentage of Budget': 0.5387121935939863, 'Correction Expenditure per capita': 118.92402427415516, 'Correction Expenditure Percentage of Budget': 1.7693631631446667, 'Population Black Percentage': 15.541435896326425, 'Population White Percentage': 78.01510238630955, 'Population Asian Percentage': 1.3635281900393752, 'Population Hispanic Percentage': 6.869902319241919, 'Population Mixed Race Percentage': 2.1140163233957856}, {'State': 'CA', 'Population': 38421464.0, 'Population Black': 2265387.0, 'Population White': 23747013.0, 'Population Asian': 5261978.0, 'Population Hispanic': 14750686.0, 'Population Mixed Race': 1734897.0, 'Poverty Count': 6135142.0, 'Poverty Rate': 15.97, 'Total General Expenditure': 269774501000.0, 'Education Expediture': 90276519000.0, 'Public Welfare Expenditure': 109031702000.0, 'Hospitals Expenditure': 10633226000.0, 'Health Expenditure': 8177522000.0, 'Police Protection Expenditure': 1790672000.0, 'Correction Expenditure': 9667904000.0, 'Total General Expenditure per capita': 7021.452930580677, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 2349.637666071236, 'Education Expediture Percentage of Budget': 33.46369603700982, 'Public Welfare Expenditure per capita': 2837.7810382238426, 'Public Welfare Expenditure Percentage of Budget': 40.415866435056444, 'Hospitals Expenditure per capita': 276.75223411580566, 'Hospitals Expenditure Percentage of Budget': 3.941523739487892, 'Health Expenditure per capita': 212.83733488135695, 'Health Expenditure Percentage of Budget': 3.0312434902807954, 'Police Protection Expenditure per capita': 46.60603250308213, 'Police Protection Expenditure Percentage of Budget': 0.6637662171044105, 'Correction Expenditure per capita': 251.6276839424963, 'Correction Expenditure Percentage of Budget': 3.5836982235767345, 'Population Black Percentage': 5.896149610540609, 'Population White Percentage': 61.806632355289736, 'Population Asian Percentage': 13.695412543363783, 'Population Hispanic Percentage': 38.39178538329513, 'Population Mixed Race Percentage': 4.515436996362242}, {'State': 'CO', 'Population': 5278906.0, 'Population Black': 213787.0, 'Population White': 4446095.0, 'Population Asian': 153467.0, 'Population Hispanic': 1112586.0, 'Population Mixed Race': 183480.0, 'Poverty Count': 653969.0, 'Poverty Rate': 12.39, 'Total General Expenditure': 26917961000.0, 'Education Expediture': 10988746000.0, 'Public Welfare Expenditure': 7927080000.0, 'Hospitals Expenditure': 827482000.0, 'Health Expenditure': 427722000.0, 'Police Protection Expenditure': 178366000.0, 'Correction Expenditure': 1022917000.0, 'Total General Expenditure per capita': 5099.155203748655, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 2081.6332020308755, 'Education Expediture Percentage of Budget': 40.82309949107958, 'Public Welfare Expenditure per capita': 1501.6520468445544, 'Public Welfare Expenditure Percentage of Budget': 29.449035905802823, 'Hospitals Expenditure per capita': 156.75255441184214, 'Hospitals Expenditure Percentage of Budget': 3.074088709765201, 'Health Expenditure per capita': 81.02474262659726, 'Health Expenditure Percentage of Budget': 1.5889836529594499, 'Police Protection Expenditure per capita': 33.7884402563713, 'Police Protection Expenditure Percentage of Budget': 0.6626281983245313, 'Correction Expenditure per capita': 193.774429777685, 'Correction Expenditure Percentage of Budget': 3.8001281003416274, 'Population Black Percentage': 4.049835325728475, 'Population White Percentage': 84.22379561219692, 'Population Asian Percentage': 2.9071743274079895, 'Population Hispanic Percentage': 21.076071443590774, 'Population Mixed Race Percentage': 3.4757201586843944}, {'State': 'CT', 'Population': 3593222.0, 'Population Black': 370501.0, 'Population White': 2778362.0, 'Population Asian': 150670.0, 'Population Hispanic': 526508.0, 'Population Mixed Race': 101919.0, 'Poverty Count': 366351.0, 'Poverty Rate': 10.2, 'Total General Expenditure': 22311191000.0, 'Education Expediture': 7728457000.0, 'Public Welfare Expenditure': 4256901000.0, 'Hospitals Expenditure': 1416163000.0, 'Health Expenditure': 949526000.0, 'Police Protection Expenditure': 256502000.0, 'Correction Expenditure': 700694000.0, 'Total General Expenditure per capita': 6209.243681576034, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 2150.8431708366475, 'Education Expediture Percentage of Budget': 34.639374473554554, 'Public Welfare Expenditure per capita': 1184.7030325429378, 'Public Welfare Expenditure Percentage of Budget': 19.079667239637725, 'Hospitals Expenditure per capita': 394.1206527178115, 'Hospitals Expenditure Percentage of Budget': 6.347321395796396, 'Health Expenditure per capita': 264.2547552029905, 'Health Expenditure Percentage of Budget': 4.25582838674995, 'Police Protection Expenditure per capita': 71.38495756733093, 'Police Protection Expenditure Percentage of Budget': 1.149656242017739, 'Correction Expenditure per capita': 195.00437212062045, 'Correction Expenditure Percentage of Budget': 3.140549511677794, 'Population Black Percentage': 10.311107969393486, 'Population White Percentage': 77.32230293591657, 'Population Asian Percentage': 4.19317258994852, 'Population Hispanic Percentage': 14.652810207663206, 'Population Mixed Race Percentage': 2.836423688823012}, {'State': 'DE', 'Population': 926454.0, 'Population Black': 200481.0, 'Population White': 642623.0, 'Population Asian': 33643.0, 'Population Hispanic': 80706.0, 'Population Mixed Race': 25266.0, 'Poverty Count': 108315.0, 'Poverty Rate': 11.69, 'Total General Expenditure': 8045313000.0, 'Education Expediture': 3027509000.0, 'Public Welfare Expenditure': 2288305000.0, 'Hospitals Expenditure': 90693000.0, 'Health Expenditure': 406718000.0, 'Police Protection Expenditure': 140054000.0, 'Correction Expenditure': 304986000.0, 'Total General Expenditure per capita': 8683.985389452688, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 3267.8460020681005, 'Education Expediture Percentage of Budget': 37.63071741273459, 'Public Welfare Expenditure per capita': 2469.9607319953284, 'Public Welfare Expenditure Percentage of Budget': 28.442709438402208, 'Hospitals Expenditure per capita': 97.8926098867294, 'Hospitals Expenditure Percentage of Budget': 1.1272774595593733, 'Health Expenditure per capita': 439.00506663039937, 'Health Expenditure Percentage of Budget': 5.055340917127774, 'Police Protection Expenditure per capita': 151.1721035259171, 'Police Protection Expenditure Percentage of Budget': 1.7408148073294352, 'Correction Expenditure per capita': 329.1971322915115, 'Correction Expenditure Percentage of Budget': 3.790853133992425, 'Population Black Percentage': 21.639606499621138, 'Population White Percentage': 69.3637244806542, 'Population Asian Percentage': 3.63137295537609, 'Population Hispanic Percentage': 8.711279782914207, 'Population Mixed Race Percentage': 2.7271726389005826}  ... displaying 10 of 50 total bound parameter sets ...  {'State': 'WI', 'Population': 5742117.0, 'Population Black': 360792.0, 'Population White': 4967124.0, 'Population Asian': 143732.0, 'Population Hispanic': 364558.0, 'Population Mixed Race': 122730.0, 'Poverty Count': 724348.0, 'Poverty Rate': 12.61, 'Total General Expenditure': 34899560000.0, 'Education Expediture': 11752333000.0, 'Public Welfare Expenditure': 9955799000.0, 'Hospitals Expenditure': 1877692000.0, 'Health Expenditure': 724909000.0, 'Police Protection Expenditure': 96946000.0, 'Correction Expenditure': 1125914000.0, 'Total General Expenditure per capita': 6077.821124160306, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 2046.6899228977745, 'Education Expediture Percentage of Budget': 33.674731142742196, 'Public Welfare Expenditure per capita': 1733.820296590961, 'Public Welfare Expenditure Percentage of Budget': 28.527004351917327, 'Hospitals Expenditure per capita': 327.00343793064474, 'Hospitals Expenditure Percentage of Budget': 5.380274135261304, 'Health Expenditure per capita': 126.24420575199008, 'Health Expenditure Percentage of Budget': 2.077129339166454, 'Police Protection Expenditure per capita': 16.883320210995354, 'Police Protection Expenditure Percentage of Budget': 0.2777857371267718, 'Correction Expenditure per capita': 196.07994751761416, 'Correction Expenditure Percentage of Budget': 3.2261552867715237, 'Population Black Percentage': 6.2832575511784245, 'Population White Percentage': 86.50335755958996, 'Population Asian Percentage': 2.5031186233230707, 'Population Hispanic Percentage': 6.348843118313333, 'Population Mixed Race Percentage': 2.137365017118251}, {'State': 'WY', 'Population': 579679.0, 'Population Black': 6142.0, 'Population White': 527763.0, 'Population Asian': 5319.0, 'Population Hispanic': 55698.0, 'Population Mixed Race': 15489.0, 'Poverty Count': 64995.0, 'Poverty Rate': 11.21, 'Total General Expenditure': 5232487000.0, 'Education Expediture': 2020840000.0, 'Public Welfare Expenditure': 799594000.0, 'Hospitals Expenditure': 3442000.0, 'Health Expenditure': 228679000.0, 'Police Protection Expenditure': 39244000.0, 'Correction Expenditure': 143520000.0, 'Total General Expenditure per capita': 9026.525025056972, 'Total General Expenditure Percentage of Budget': 100.0, 'Education Expediture per capita': 3486.1362926723236, 'Education Expediture Percentage of Budget': 38.62102285203958, 'Public Welfare Expenditure per capita': 1379.373756855087, 'Public Welfare Expenditure Percentage of Budget': 15.281337536051213, 'Hospitals Expenditure per capita': 5.937769006639882, 'Hospitals Expenditure Percentage of Budget': 0.06578133877829033, 'Health Expenditure per capita': 394.4924691079028, 'Health Expenditure Percentage of Budget': 4.370369195374972, 'Police Protection Expenditure per capita': 67.6995371576338, 'Police Protection Expenditure Percentage of Budget': 0.7500066412014019, 'Correction Expenditure per capita': 247.58530152032418, 'Correction Expenditure Percentage of Budget': 2.742863957425981, 'Population Black Percentage': 1.0595519244271399, 'Population White Percentage': 91.0440088393749, 'Population Asian Percentage': 0.9175767968134088, 'Population Hispanic Percentage': 9.608421212429638, 'Population Mixed Race Percentage': 2.671996052987947})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [132]:
state_grouped_df.to_sql(name='police_deaths', con=engine, if_exists='append', index=True)

In [100]:
#Confirmation on Scrubbed
pd.read_sql_query('select * from police_killings', con=engine).head()
pd.read_sql_query('select * from police_killings', con=engine).head()

,ID,Name,Age,Ethnicity,Month,Day,Year,Street Address,City,State,Cause of Death,Armed
0,1,A'donte Washington,16,Black,February,23,2015,Clearview Ln,Millbrook,AL,Gunshot,No
1,2,Aaron Rutledge,27,White,April,2,2015,300 block Iris Park Dr,Pineville,LA,Gunshot,No
2,3,Aaron Siler,26,White,March,14,2015,22nd Ave and 56th St,Kenosha,WI,Gunshot,No
3,4,Aaron Valdez,25,Hispanic/Latino,March,11,2015,3000 Seminole Ave,South Gate,CA,Gunshot,Firearm
4,5,Adam Jovicic,29,White,March,19,2015,364 Hiwood Ave,Munroe Falls,OH,Gunshot,No

#

In [82]:
#Create database connection
connection_string = "username:password@localhost:5432/shootings"
engine = create_engine(f'postgresql://{connection_string}')

In [83]:
#confirm table
engine.table_names()

<ipython-input-83-208f519aad61>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['police_deaths']

In [85]:
dataframe.to_sql(name='table name', con=engine, if_exists='append', index= True)