In [18]:
import pandas as pd
from config import api_keyUSC, PG_key
from census import Census
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'census'

# ASFIN

In [2]:
#import .csv file into DF
#note: currency values are in Thousands of Dollars

state_asfin_df = pd.read_csv ('2015_asfin_state_totals_transposed.csv')

In [3]:
state_asfin_df.set_index('State', inplace=True)
state_asfin_df.drop(['United States'], inplace = True)
state_asfin_df = state_asfin_df[['General expenditure','Education', 'Public welfare', 'Hospitals', 'Health', 'Highways', 'Police protection', 'Correction', 'Natural resources' ]]

state_asfin_df = state_asfin_df.rename(columns={'General expenditure':'Total General Expenditure','Education': 'Education Expediture', 'Public welfare':'Public Welfare Expenditure', 'Hospitals': 'Hospitals Expenditure', 'Health': 'Health Expenditure', 'Highways': 'Highways Expenditure', 'Police protection':'Police Protection Expenditure', 'Correction':'Correction Expenditure', 'Natural resources':'Natural Resources Expenditure'})

In [4]:
state_asfin_df.head()

,Total General Expenditure,Education Expediture,Public Welfare Expenditure,Hospitals Expenditure,Health Expenditure,Highways Expenditure,Police Protection Expenditure,Correction Expenditure,Natural Resources Expenditure
State,,,,,,,,,
Alabama,"28,710,747","12,235,527","8,204,660","2,370,549","414,116","1,631,748","155,814","555,852","266,925"
Alaska,"11,580,917","2,703,274","2,113,211","68,984","283,698","1,271,514","161,965","340,726","375,310"
Arizona,"28,577,420","10,452,117","10,346,172","64,560","625,316","1,966,947","259,768","1,097,103","271,972"
Arkansas,"19,882,973","8,162,327","6,572,760","871,039","243,532","1,468,304","107,112","351,802","309,742"
California,"269,774,501","90,276,519","109,031,702","10,633,226","8,177,522","10,529,860","1,790,672","9,667,904","3,809,737"

# CENSUS

In [5]:
c = Census(api_keyUSC, year=2015)
census_data = c.acs5.get(("NAME", "B01003_001E", "B02001_003E",
                          "B02001_002E","B02001_005E","B03001_003E","B02001_008E",
                          "B17001_002E"), {'for': 'state:*'})

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column Reordering

census_df.drop('state', axis=1, inplace = True)
census_df = census_df.rename(columns={"NAME": "State",
                                      "B01003_001E": "Population",
                                      "B02001_003E": "Population Black",
                                      "B02001_002E": "Population White",
                                      "B02001_005E": "Population Asian",
                                      "B03001_003E": "Population Hispanic",
                                      "B02001_008E": "Population Mixed Race",
                                      "B17001_002E": "Poverty Count",
                                      })

# Add in Poverty Rate (Poverty Count / Population)
census_df["Poverty Rate"] = round(100 * \
    census_df["Poverty Count"].astype(
        int) / census_df["Population"].astype(int),2)

NameError: name 'Census' is not defined

In [6]:
census_df = census_df.sort_values('State')
census_df.set_index('State', inplace=True)
census_df

NameError: name 'census_df' is not defined

In [7]:
#merge together
state_df = pd.merge(census_df,state_asfin_df, left_index=True, right_index=True)
state_df

NameError: name 'census_df' is not defined

In [8]:
#convert index to match the other datasets
us_state_abbrev = {
   'Alabama': 'AL',
   'Alaska': 'AK',
   'Arizona': 'AZ',
   'Arkansas': 'AR',
   'California': 'CA',
   'Colorado': 'CO',
   'Connecticut': 'CT',
   'Delaware': 'DE',
   'Florida': 'FL',
   'Georgia': 'GA',
   'Hawaii': 'HI',
   'Idaho': 'ID',
   'Illinois': 'IL',
   'Indiana': 'IN',
   'Iowa': 'IA',
   'Kansas': 'KS',
   'Kentucky': 'KY',
   'Louisiana': 'LA',
   'Maine': 'ME',
   'Maryland': 'MD',
   'Massachusetts': 'MA',
   'Michigan': 'MI',
   'Minnesota': 'MN',
   'Mississippi': 'MS',
   'Missouri': 'MO',
   'Montana': 'MT',
   'Nebraska': 'NE',
   'Nevada': 'NV',
   'New Hampshire': 'NH',
   'New Jersey': 'NJ',
   'New Mexico': 'NM',
   'New York': 'NY',
   'North Carolina': 'NC',
   'North Dakota': 'ND',
   'Ohio': 'OH',
   'Oklahoma': 'OK',
   'Oregon': 'OR',
   'Pennsylvania': 'PA',
   'Rhode Island': 'RI',
   'South Carolina': 'SC',
   'South Dakota': 'SD',
   'Tennessee': 'TN',
   'Texas': 'TX',
   'Utah': 'UT',
   'Vermont': 'VT',
   'Virginia': 'VA',
   'Washington': 'WA',
   'West Virginia': 'WV',
   'Wisconsin': 'WI',
   'Wyoming': 'WY'}

state_df.index = state_df.index.map(us_state_abbrev)

NameError: name 'state_df' is not defined

In [9]:
#verify dtypes 
state_df.dtypes

NameError: name 'state_df' is not defined

In [10]:
#format values & convert from string to numeric
state_df = state_df.replace(',','', regex=True)
c = state_df.select_dtypes(object).columns
state_df[c] = state_df[c].apply(pd.to_numeric,errors='coerce')
state_df

NameError: name 'state_df' is not defined

# POLICE DEATHS

In [11]:
csv_file = "police_deaths.csv"
police_deaths_df = pd.read_csv(csv_file)
police_deaths_df.head()

,person,dept,eow,cause,cause_short,date,year,canine,dept_name,state
0,Constable Darius Quimby,"Albany County Constable's Office, NY","EOW: Monday, January 3, 1791",Cause of Death: Gunfire,Gunfire,1791-01-03,1791,False,Albany County Constable's Office,NY
1,Sheriff Cornelius Hogeboom,"Columbia County Sheriff's Office, NY","EOW: Saturday, October 22, 1791",Cause of Death: Gunfire,Gunfire,1791-10-22,1791,False,Columbia County Sheriff's Office,NY
2,Deputy Sheriff Isaac Smith,"Westchester County Sheriff's Department, NY","EOW: Thursday, May 17, 1792",Cause of Death: Gunfire,Gunfire,1792-05-17,1792,False,Westchester County Sheriff's Department,NY
3,Marshal Robert Forsyth,United States Department of Justice - United S...,"EOW: Saturday, January 11, 1794",Cause of Death: Gunfire,Gunfire,1794-01-11,1794,False,United States Department of Justice - United S...,US
4,Sheriff Robert Maxwell,"Greenville County Sheriff's Office, SC","EOW: Sunday, November 12, 1797",Cause of Death: Gunfire,Gunfire,1797-11-12,1797,False,Greenville County Sheriff's Office,SC

In [12]:
#Create filtered dataframe with specific columns
deaths_columns = ["year", "cause_short", "state"]
police_deaths_transformed = police_deaths_df[deaths_columns].copy()

In [13]:
#Rename the column headers
police_deaths_transformed = police_deaths_transformed.rename(columns = {"year" : "id"})
police_deaths_transformed.head()

     id cause_short state
0  1791     Gunfire    NY
1  1791     Gunfire    NY
2  1792     Gunfire    NY
3  1794     Gunfire    US
4  1797     Gunfire    SC

In [14]:
#Set index
police_deaths_transformed.set_index("id", inplace=True)
police_deaths_transformed.head()

     cause_short state
id
1791     Gunfire    NY
1791     Gunfire    NY
1792     Gunfire    NY
1794     Gunfire    US
1797     Gunfire    SC

In [15]:
#loc data on year 2015
year_filtered= police_deaths_transformed.loc['2015']
year_filtered.head()

              cause_short state
id
2015    Struck by vehicle    CO
2015         Heart attack    MO
2015      Vehicle pursuit    MD
2015  Automobile accident    TX
2015  Automobile accident    TX

In [16]:
#Create filter to get gunfire deaths only
gunfire_filtered= year_filtered.loc[year_filtered['cause_short'] == 'Gunfire']
gunfire_filtered.head()

     cause_short state
id
2015     Gunfire    GA
2015     Gunfire    PA
2015     Gunfire    US
2015     Gunfire    TR
2015     Gunfire    CA

In [17]:
#Group data by state
state_grouped = gunfire_filtered.groupby("state").count()
#Rename the column headers
state_grouped_df = state_grouped.rename(columns = {"cause_short" : "police_shooting_deaths"})
state_grouped_df.head()

       police_shooting_deaths
state
 AR                         1
 CA                         4
 CO                         1
 FL                         1
 GA                         1

In [82]:
#Create database connection
connection_string = "postgres:Momw2kids@localhost:5432/shootings"
engine = create_engine(f'postgresql://{connection_string}')

In [83]:
#confirm table
engine.table_names()

<ipython-input-83-208f519aad61>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['police_deaths']

In [85]:
#Load DataFrames into database
state_grouped_df.to_sql(name='police_deaths', con=engine, if_exists='append', index= True)